<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contact</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <ion-card>
   <ion-card-header color="primary-dark">
   
   Location Information
   </ion-card-header>
   <ion-card-content>
   <address>
     121, Clear Water Bay Road
      Clear Water Bay, Kowloon
      HONG KONG
    </address>
    <ion-row>
    <ion-icon name="call">+852 1234 5678</ion-icon>
    </ion-row>
    <ion-row>
    <ion-icon name="print">+852 8765 4321</ion-icon>
     </ion-row>
    <ion-row>
    <ion-icon name="mail">confusion@food.net</ion-icon>
    </ion-row>
    <ion-row>
      <ion-col>
       <button ion-button icon-left small clear color="primary-dark">
       <ion-icon name="call"></ion-icon>
       <div>CALL</div>
       </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left small clear color="primary-dark" (click)="sendEmail()">
          <ion-icon name="mail"></ion-icon>
          <div>EMAIL</div>
        </button>
      </ion-col>
    </ion-row>
   </ion-card-content>
 </ion-card>
</ion-content>
